<h2> Add a New Celeb </h2>

<form action="/celebrities" method="post">

  <label for="celeb-name-input"> Celeb Name </label>
  <br>
  <input id="celeb-name-input" name="celebName" type="text">
  <br>

  <label for="celeb-ocupation-input"> Celeb Occupation </label>
  <br>
  <input id="celeb-ocupation-input" type="text" name="celebOcupation" >
  <br>

  <label for="celeb-catchPhrase-input"> Description </label>
  <br>
  <textarea id="celelb-catchPhrase-input" name="celebCatchPhrase" rows="6" cols="40"></textarea>
  <br>

  <button> Submit Celeb </button>
</form>
